<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/deadlines">Deadlines</a></li>
<li><a href="/organisation">Organisation</a></li>
<li><a href="/programme">Programme</a></li>
<li><a href="/submission">Submission</a></li>
<li><a href="/award">Award</a></li>
<li><a href="/past">Past</a></li>
<!-- <li><a href="/accommodation">Accommodation</a></li> -->
<li><a href="/travel">Travel</a></li>
<li><a href="/registration">Registration</a></li>
</ul>
    </nav>
    
<font size=4, font face=Helvetica>
Stein - June, 2019 – Long Beach Convention Center, CA, USA     
</font>

<div align="right">
<a href="mailto:steinworkshop@gmail.com">email</a>
</div>
  
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <!-- <img src="https://steinworkshop.github.io/ati.jpg" alt="Ati Logo", width="255", height="115", align="center", style="padding:10px;"> -->
	Some logos here!
  </footer>
  </body>
</html>
