<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/programme">Programme</a></li>
<li><a href="/submission">Call for Posters</a></li>
<li><a href="/registration">Registration</a></li>
<li><a href="/organisation">Organisers</a></li>
</ul>
    </nav>
    
<font size=4, font face=Helvetica>
TBC, June, 2019 – Long Beach Convention Center, Long Beach, CA, US     
</font>

<div align="right">
<a href="mailto:steinworkshop@gmail.com">email</a>
</div>
  
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <img src="https://steinworkshop.github.io/ati.jpg" alt="Ati Logo", width="255", height="115", align="center", style="padding:10px;">
   <img src="https://steinworkshop.github.io/lrf.png" alt="Lrf Logo", width="260", height="115", align="center", style="padding:10px;">
  </footer>
  </body>
</html>
